.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  height: 80px;
  padding: 16px 80px;
  border: none;
  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 10px;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 12px 24px;

      &:hover {
        border-bottom: solid 3px $orange;
        margin-bottom: -3px;
      }
    }

    .header__brand {
      width: 130px;
    }
  }
  .header__button {
    button {
      width: 180px;
      height: 38px;
      padding: 8px 43.5px;
      background-color: $orange;
      color: $white;
      font-style: normal;
      font-size: 14px;

      border: none;
    }
  }
}
