.parent {
  overflow-x: auto;
  overflow-y: inherit;
  height: 85vh;
  width: 100vw;
  margin: 50px auto;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
}
.sections {
  display: flex;
  flex-direction: row;
}

.section_item {
  display: flex;
  justify-content: center;
  align-items: center;
  //flex: 0 0 0;
  width: 100vw;
  height: 85vh;
  //padding: 20px;
  font-size: 20px;
  scroll-snap-align: start;
  //scroll-snap-stop: always;

  background-color: $secondary;
  // border: black 2px solid;
  img {
    width: 100px;
  }
  .how-we-work__block {
    //border: white 1px solid;
    width: 95vw;
    margin: 0 20px 0 20px;
    .how-we-work__title {
      h1 {
        color: $white;
        font-weight: 700;
        font-size: 64px;
        color: #14213d;
        text-shadow: -0 -1px 1px #f2f2f2, 0 -1px 1px #f2f2f2, -0 1px 1px #f2f2f2,
          0 1px 1px #f2f2f2, -1px -0 1px #f2f2f2, 1px -0 1px #f2f2f2,
          -1px 0 1px #f2f2f2, 1px 0 1px #f2f2f2, -1px -1px 1px #f2f2f2,
          1px -1px 1px #f2f2f2, -1px 1px 1px #f2f2f2, 1px 1px 1px #f2f2f2,
          -1px -1px 1px #f2f2f2, 1px -1px 1px #f2f2f2, -1px 1px 1px #f2f2f2,
          1px 1px 1px #f2f2f2;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
      }
    }
  }
  .steps {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .how-we-work__text {
      //margin: 24px;
      span {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: $orange;
      }
      h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
      }
    }
    .how-we-work__picture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
    }
    img {
      width: 60%;
      width: 50%;
      margin: 0 auto;
    }
  }
}

.item1 {
  background-color: #ff7373;
}

.item2 {
  background-color: #ff9640;
}

.item3 {
  background-color: #5ccccc;
}

.item4 {
  background-color: #67e667;
}

.item5 {
  background-color: #1d7373;
}

// .parent {
//   width: 1440px;
//   width: 90vw;
//   margin: 0 auto;
//   background-color: antiquewhite;
//   height: 88vh;
//   margin-top: 100px;
// }

// .test {
//   //   border: black 1x solid;
//   //   width: 100vw;
//   //   max-width: 900px;
//   //   height: 600px;
//   //   background-color: antiquewhite;
//   //   display: flex;
//   //   flex-direction: row;
//   //   overflow-x: scroll;
//   background-color: #fff;
//   min-width: 100%;
//   min-height: 100%;
//   display: flex;
//   //overflow-x: auto;
// }
// .test__wrapper {
//   //   border: black 1px solid;
//   //   width: 600px;
//   //height: 100%;
//   background-color: #e74c3c;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-width: 90vw;
//   margin: 5px;
//   border-top: 00px;
//   position: relative;
//   color: #fff;
//   font-size: 100px;

//   // position: relative; /* важно - для того, чтобы псевдоэлемент позиционировался относительно этого элемента */
//   //border-top: 55px solid transparent;
//   // margin-top: 100px;
//   // -moz-background-clip: padding;
//   // -webkit-background-clip: padding-box;
//   // background-clip: padding-box;
//   // padding-bottom: 200px;
//   // padding-top: 200px;
//   // margin-top: -200px;
//   //margin-top: 200px;
//   // &::before {
//   //   content: "";
//   //   position: absolute;
//   //   top: -2px; /* равен по модулю толщине border */
//   //   left: 0;
//   //   right: 0;
//   //   border-top: 2px solid #ccc;
//   // }

//   // .anchor {
//   //   position: relative;
//   //   top: -240px;
//   //   left: 0;
//   //   border: black 1px solid;
//   //   background-color: aqua;
//   //   height: 20px;
//   //   width: 90vw;
//   // }
// // }
// // .invis-test {
// //   display: none;
// // }
