.parent {
  width: 1440px;
  width: 90vw;
  margin: 0 auto;
  background-color: antiquewhite;
  height: 80vh;
}

.test {
  //   border: black 1x solid;
  //   width: 100vw;
  //   max-width: 900px;
  //   height: 600px;
  //   background-color: antiquewhite;
  //   display: flex;
  //   flex-direction: row;
  //   overflow-x: scroll;
  background-color: #fff;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  //overflow-x: auto;
}
.test__wrapper {
  //   border: black 1px solid;
  //   width: 600px;
  //height: 100%;
  background-color: #e74c3c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90vw;
  margin: 5px;
  position: relative;
  color: #fff;
  font-size: 100px;
  .anchor {
    position: absolute;
    top: -100px;
    left: 90vw;
  }
}
