@import "normalize.css";
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 16px 80px;
  border: none;
  max-width: 1440px;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 1439px) {
  .header {
    width: 100vw;
    margin: 0 auto;
    padding: 0;
  }
}
.header .header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 80px;
  width: 100%;
  justify-content: center;
}
@media (max-width: 1439px) {
  .header .header__wrapper {
    padding: 10px 80px;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 1280px) {
  .header .header__wrapper {
    padding: 10px 10px;
  }
}
.header .header__wrapper div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 12px 24px;
}
.header .header__wrapper div a {
  text-decoration: none;
  color: #1c2e54;
}
.header .header__wrapper div:hover {
  border-bottom: solid 3px #fca311;
  margin-bottom: -3px;
}
.header .header__wrapper .header__brand {
  width: 130px;
}
.header .header__logo {
  margin-left: 0;
}
@media (max-width: 1280px) {
  .header .header__logo {
    margin-left: auto;
    margin-right: auto;
  }
}
.header .header__button {
  margin-left: auto;
}
.header .header__button button {
  width: 180px;
  height: 38px;
  padding: 8px 43.5px;
  background-color: #fca311;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  border: none;
}
@media (max-width: 1439px) {
  .header .header__button {
    margin-left: auto;
  }
}

.welcome-screen {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 700px;
  background: linear-gradient(103.2deg, #14213d 0%, #28427b 111.47%);
  border: none;
}
@media (max-width: 1439px) {
  .welcome-screen {
    width: 100vw;
    margin: 0 auto;
  }
}

.welcome-screen__left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  color: #ffffff;
}
@media (max-width: 1439px) {
  .welcome-screen__left-box {
    width: 50%;
  }
}
.welcome-screen__left-box .welcome-screen__info {
  flex-direction: column;
  align-items: center;
  width: 456px;
  height: 234px;
  margin-left: 150px;
}
@media (max-width: 850px) {
  .welcome-screen__left-box .welcome-screen__info {
    width: 60vw;
  }
}
@media (max-width: 1439px) {
  .welcome-screen__left-box {
    width: 50%;
  }
}
@media (max-width: 850px) {
  .welcome-screen__left-box {
    width: 50vw;
    margin-top: -100px;
  }
}
.welcome-screen__left-box .welcome-screen__title h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
}
.welcome-screen__left-box .welcome-screen__subtitle h3 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}

.welcome-screen__picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  background-image: url(../images/welcome-screen.png);
}
@media (max-width: 1439px) {
  .welcome-screen__picture {
    width: 50%;
  }
}

.welcome-screen__buttons {
  margin-top: 48px;
}
.welcome-screen__buttons .welcome-screen__write-us {
  width: 220px;
  height: 48px;
  background-color: #fca311;
  color: #ffffff;
  font-size: 16px;
  border: none;
}
.welcome-screen__buttons .welcome-screen__working {
  background: none;
  width: 220px;
  height: 48px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  text-align: center;
}
@media (max-width: 850px) {
  .welcome-screen__buttons {
    display: flex;
    flex-direction: column;
  }
}

.about-us {
  width: 1440px;
  height: 877px;
  border: none;
  border: black 1px solid;
}
@media (max-width: 1439px) {
  .about-us {
    width: 100vw;
    margin: 0 auto;
  }
}
@media (max-width: 1100px) {
  .about-us {
    height: -moz-fit-content;
    height: fit-content;
  }
}

content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  color: #14213d;
}
@media (max-width: 1439px) {
  content {
    width: 90vw;
  }
}
content .about-us__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 96px 0 16px 0;
}
@media (max-width: 1439px) {
  content .about-us__header {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  content .about-us__header {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
content .about-us__header .about-us__text {
  width: 848px;
  height: 240px;
}
@media (max-width: 1439px) {
  content .about-us__header .about-us__text {
    width: 65%;
  }
}
@media (max-width: 1100px) {
  content .about-us__header .about-us__text {
    width: 100%;
  }
}
content .about-us__header .about-us__text h2 {
  font-size: 32px;
  font-weight: 600;
}
content .about-us__header .about-us__text p {
  font-size: 16px;
  font-weight: 400;
}
content .about-us__header .about-us__logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 416px;
  height: 240px;
  margin-left: 16px;
  background-color: #14213d;
}
@media (max-width: 1439px) {
  content .about-us__header .about-us__logo-box {
    width: 30%;
  }
}
@media (max-width: 1100px) {
  content .about-us__header .about-us__logo-box {
    width: auto;
    margin-left: 0;
  }
}
@media (max-width: 1280px) {
  content .about-us__header .about-us__logo-box img {
    width: 90%;
  }
}
@media (max-width: 1100px) {
  content .about-us__header .about-us__logo-box img {
    width: 400px;
  }
}
content .about-us__middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1439px) {
  content .about-us__middle {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 850px) {
  content .about-us__middle {
    flex-direction: column;
  }
}
content .about-us__middle div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 412px;
  height: 240px;
}
content .about-us__middle .about-us__stat {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}
content .about-us__middle .about-us__stat h2 {
  margin: 32px 16px 12px 32px;
}
content .about-us__middle .about-us__stat p {
  margin: 0 16px 0 32px;
}
content .about-us__middle .about-us__icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
@media (max-width: 1439px) {
  content .about-us__middle .about-us__icon {
    width: 100%;
  }
}
content .about-us__middle .about-us__first-box {
  border: #f2f2f2 2px solid;
}
@media (max-width: 1439px) {
  content .about-us__middle .about-us__first-box {
    width: 30%;
  }
}
@media (max-width: 850px) {
  content .about-us__middle .about-us__first-box {
    width: 100%;
    margin-bottom: 16px;
  }
}
content .about-us__middle .about-us__second-box {
  border: #f2f2f2 2px solid;
  margin: 0 16px;
}
@media (max-width: 1439px) {
  content .about-us__middle .about-us__second-box {
    width: 30%;
  }
}
@media (max-width: 850px) {
  content .about-us__middle .about-us__second-box {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
  }
}
content .about-us__middle .about-us__third-box {
  border: #f2f2f2 2px solid;
}
@media (max-width: 1439px) {
  content .about-us__middle .about-us__third-box {
    width: 30%;
  }
}
@media (max-width: 850px) {
  content .about-us__middle .about-us__third-box {
    width: 100%;
    margin: 0;
  }
}
content .about-us__subtitle {
  width: 100%;
  margin: 32px 0 18px;
}
content .about-us__subtitle p {
  margin: 0;
}
content .about-us__hr {
  width: 100%;
}
content .about-us__hr hr {
  border: 2px #f2f2f2 solid;
}
content .about-us__partners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 116px;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 1100px) {
  content .about-us__partners {
    /* width: fit-content; */
    flex-wrap: wrap;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 20px;
  }
}
content .about-us__partners div {
  margin: 0 26px;
}
content .about-us__partners img {
  filter: grayscale(100%) contrast(0%) brightness(100%);
}

.how-we-work {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 1440px;
  height: 900px;
  background-color: #14213d;
  border: none;
}
@media (max-width: 1439px) {
  .how-we-work {
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
  }
}
.how-we-work .how-we-work__wrapper {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 64px;
  margin-left: 80px;
}
@media (max-width: 1439px) {
  .how-we-work .how-we-work__wrapper {
    margin: 32px auto;
  }
}
@media (max-width: 1280px) {
  .how-we-work .how-we-work__wrapper {
    width: 90vw;
  }
}
.how-we-work .how-we-work__wrapper .how-we-work__block {
  width: 600px;
  margin-right: 100px;
}
@media (max-width: 1439px) {
  .how-we-work .how-we-work__wrapper .how-we-work__block {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 1280px) {
  .how-we-work .how-we-work__wrapper .how-we-work__block {
    width: 50vw;
  }
}
.how-we-work .how-we-work__wrapper .how-we-work__block .how-we-work__title h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 64px;
  color: #14213d;
  text-shadow: 0 -1px 1px #f2f2f2, 0 -1px 1px #f2f2f2, 0 1px 1px #f2f2f2, 0 1px 1px #f2f2f2, -1px 0 1px #f2f2f2, 1px 0 1px #f2f2f2, -1px 0 1px #f2f2f2, 1px 0 1px #f2f2f2, -1px -1px 1px #f2f2f2, 1px -1px 1px #f2f2f2, -1px 1px 1px #f2f2f2, 1px 1px 1px #f2f2f2, -1px -1px 1px #f2f2f2, 1px -1px 1px #f2f2f2, -1px 1px 1px #f2f2f2, 1px 1px 1px #f2f2f2;
}
.how-we-work .how-we-work__wrapper .how-we-work__block .how-we-work__title p {
  width: 520px;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
@media (max-width: 1280px) {
  .how-we-work .how-we-work__wrapper .how-we-work__block .how-we-work__title p {
    width: 80%;
  }
}
.how-we-work .how-we-work__wrapper .how-we-work__right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}
@media (max-width: 1280px) {
  .how-we-work .how-we-work__wrapper .how-we-work__right-content {
    width: 50vw;
  }
}
.how-we-work .how-we-work__wrapper .how-we-work__right-content .how-we-work__text {
  width: 552px;
  margin: 24px;
}
@media (max-width: 1280px) {
  .how-we-work .how-we-work__wrapper .how-we-work__right-content .how-we-work__text {
    width: 90%;
  }
}
.how-we-work .how-we-work__wrapper .how-we-work__right-content .how-we-work__text span {
  color: #fca311;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.how-we-work .how-we-work__wrapper .how-we-work__right-content .how-we-work__text h1 {
  font-size: 40px;
  color: #ffffff;
}
.how-we-work .how-we-work__wrapper .how-we-work__right-content .how-we-work__text p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
}
.how-we-work .how-we-work__wrapper .how-we-work__right-content img {
  width: 405px;
  height: 402px;
  margin-bottom: 71px;
}
@media (max-width: 1280px) {
  .how-we-work .how-we-work__wrapper .description {
    width: 50vw;
  }
}
@media (max-width: 1280px) and (max-width: 850px) {
  .how-we-work .how-we-work__wrapper .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
  }
}
@media (max-width: 1280px) {
  .how-we-work .how-we-work__wrapper .step-1 {
    margin-right: 0;
  }
}
@media (max-width: 850px) {
  .how-we-work .how-we-work__wrapper .step-1 {
    display: none;
  }
}
@media (max-width: 1439px) {
  .how-we-work .how-we-work__wrapper .step-2 {
    display: none !important;
  }
}
@media (max-width: 1439px) {
  .how-we-work .how-we-work__wrapper .step-3 {
    display: none !important;
  }
}
.how-we-work .how-we-work__wrapper .step-4 {
  display: none !important;
  margin-right: 50px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1439px) {
  .services {
    width: 100vw;
  }
}

.services__title {
  width: 1232px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 120px;
  margin-bottom: 48px;
}
@media (max-width: 1280px) {
  .services__title {
    width: 90vw;
  }
}
.services__title h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

.services__content {
  display: grid;
  grid-template-columns: 632px 632px;
  grid-column-gap: 16px;
  grid-template-rows: 300px 300px;
  grid-row-gap: 32px;
  justify-content: center;
}
@media (max-width: 1280px) {
  .services__content {
    display: flex;
    flex-direction: column;
  }
}

.services__content_block {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1280px) {
  .services__content_block {
    width: 90vw;
    justify-content: space-between;
  }
}
.services__content_block .services__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 408px;
}
.services__content_block .services__description .services__wrapper {
  width: 344px;
  margin-top: 32px;
}
.services__content_block .services__description .services__wrapper h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
}
@media (max-width: 650px) {
  .services__content_block .services__description .services__wrapper h2 {
    font-size: 26px;
  }
}
.services__content_block .services__description .services__wrapper p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 650px) {
  .services__content_block .services__description .services__wrapper p {
    font-size: 14px;
  }
}
.services__content_block .services__description .services__button button {
  width: 344px;
  height: 38px;
  margin-bottom: 32px;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  color: #14213d;
  font-size: 14px;
  font-weight: 600;
}
.services__content_block .services__img {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 224px;
}
.services__content_block .services__img img {
  width: 208px;
  height: 300px;
}

.first_content_block {
  background-color: #14213d;
  color: #ffffff;
}
.first_content_block button {
  background-color: #fca311 !important;
  color: #ffffff !important;
  border: none !important;
}

.selected-cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1439px) {
  .selected-cases {
    width: 100vw;
  }
}

.selected-cases__title {
  width: 1232px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 120px;
  margin-bottom: 48px;
}
@media (max-width: 1280px) {
  .selected-cases__title {
    width: 90vw;
  }
}
.selected-cases__title h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

.selected-cases__content {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: auto;
}
@media (max-width: 1280px) {
  .selected-cases__content {
    width: 90vw;
  }
}
.selected-cases__content .selected-cases__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  margin: 24px;
}
.selected-cases__content .selected-cases__wrapper .selected-cases__text h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 650px) {
  .selected-cases__content .selected-cases__wrapper .selected-cases__text h2 {
    font-size: 26px;
  }
}
.selected-cases__content .selected-cases__wrapper .selected-cases__text p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-top: 16px;
  line-height: 24px;
}
@media (max-width: 650px) {
  .selected-cases__content .selected-cases__wrapper .selected-cases__text p {
    font-size: 14px;
  }
}
.selected-cases__content .selected-cases__wrapper .selected-cases__logo {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.selected-cases__content .selected-cases__top_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 600px;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__top_content {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
  }
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left {
  width: 632px;
  height: 600px;
  background-image: url(../images/am-img.png);
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__left {
    width: 90vw;
  }
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block {
    width: 90vw;
  }
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block .selected-cases__wrapper {
  height: 100%;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block .selected-cases__wrapper p {
  width: 524px;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 632px;
  height: 600px;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__right {
    width: 90vw;
    margin-top: 16px;
  }
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block {
  display: flex;
  flex-direction: row;
  height: 292px;
  background-color: #f2f2f2;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block {
    width: 90vw;
  }
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block .selected-cases__rzd-img {
  width: 530px;
  background-image: url(../images/rzd-img.png);
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block .selected-cases__wrapper h2 {
  color: #14213d;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block .selected-cases__wrapper p {
  color: #14213d;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__declarant_block {
  width: 100%;
  background-color: beige;
  height: 292px;
  background-image: url(../images/declarant-img.png);
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__declarant_block .selected-cases__wrapper {
  height: 87%;
}
.selected-cases__content .selected-cases__bottom_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content {
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
  }
}
@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__ice-palace {
  width: 416px;
  height: 424px;
  margin-top: 16px;
  background-image: url(../images/ice-palace-img.png);
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__ice-palace {
    width: 44vw;
  }
}
@media (max-width: 850px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__ice-palace {
    height: 44vw;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__cryptonator {
  width: 416px;
  height: 424px;
  margin-top: 16px;
  background-image: url(../images/cryptonator-img.png);
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__cryptonator {
    width: 44vw;
  }
}
@media (max-width: 850px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__cryptonator {
    height: 44vw;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city {
  display: none;
  width: 416px;
  height: 424px;
  margin-top: 16px;
  animation: showBlock 0.5s linear forwards;
  background-image: url(../images/bicycle-city.png);
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city .selected-cases__text h2,
.selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city .selected-cases__text p {
  color: #14213d;
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof {
  display: none;
  width: 416px;
  height: 424px;
  margin-top: 16px;
  transition: all 0.3s;
  animation: showBlock 0.5s linear forwards;
  background-image: url(../images/peterhof.png);
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof .selected-cases__text h2,
.selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof .selected-cases__text p {
  color: #14213d;
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__glonass {
  display: none;
  width: 416px;
  height: 424px;
  margin-top: 16px;
  animation: showBlock 0.5s linear forwards;
  background-image: url(../images/glonass.png);
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__alfa-mk {
  display: none;
  width: 416px;
  height: 424px;
  margin-top: 16px;
  animation: showBlock 0.5s linear forwards;
  background-image: url(../images/alfa-mk.png);
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 416px;
  height: 424px;
  margin-top: 16px;
  background-color: #14213d;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__add {
    width: 44vw;
    margin: 20px auto;
  }
}
@media (max-width: 850px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__add {
    height: 44vw;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__add .selected-cases__add-wrapper {
  height: 124px;
  text-align: center;
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__add .selected-cases__add-wrapper h3 {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 650px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__add .selected-cases__add-wrapper h3 {
    font-size: 16px;
  }
}

.discuss {
  width: 1440px;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1439px) {
  .discuss {
    width: 100vw;
  }
}
@media (max-width: 1280px) {
  .discuss {
    margin: 0 auto;
  }
}
.discuss .discuss__wrapper {
  display: flex;
  flex-direction: row;
  width: 1280px;
  height: 668px;
  margin: 96px auto;
}
@media (max-width: 1280px) {
  .discuss .discuss__wrapper {
    flex-direction: column;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    width: 90vw;
  }
}
.discuss .discuss__wrapper .discuss__left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
@media (max-width: 1280px) {
  .discuss .discuss__wrapper .discuss__left-box {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.discuss .discuss__wrapper .discuss__left-box .discuss__text {
  width: 524px;
}
.discuss .discuss__wrapper .discuss__left-box .discuss__text h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  margin-top: 0;
}
.discuss .discuss__wrapper .discuss__left-box .discuss__text h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.discuss .discuss__wrapper .discuss__left-box .discuss__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.discuss .discuss__wrapper .discuss__right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #f7f7f7;
}
@media (max-width: 1280px) {
  .discuss .discuss__wrapper .discuss__right-box {
    padding: 20px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content {
  width: 584px;
  height: 560px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_title h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  color: #3e3e3e;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 48px;
  border-radius: 0px;
  border: 1px #b3b3b3 solid;
  background-color: #ffffff;
  margin-top: 3px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top input {
  width: 260px;
  height: 24px;
  border-radius: 0px;
  border: none;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_left {
  width: 284px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_right {
  width: 284px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle {
  margin-top: 16px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #14213d;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle .discuss__form_input {
  width: 100%;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle input {
  width: 560px;
  height: 50%;
  border-radius: 0px;
  border: none;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom {
  margin-top: 16px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #14213d;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom .discuss__form_input {
  width: 100%;
  height: 174px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom textarea {
  width: 560px;
  height: 150px;
  border: none;
  resize: none;
  color: #b3b3b3;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 38px;
  margin-top: 16px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_add p {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_add img {
  width: 20px;
  height: 20px;
  margin-top: 0;
  filter: invert(100%);
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_button {
  width: 100%;
  margin-top: 20px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_button button {
  width: 100%;
  height: 48px;
  background-color: #fca311;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__policy {
  width: 584px;
  height: 36px;
  margin-top: 24px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__policy p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 0;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__policy p a {
  color: #fca311;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 235px;
  background-color: #14213d;
}
@media (max-width: 1439px) {
  .footer {
    width: 100vw;
  }
}
.footer .footer__wrapper {
  width: 1280px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 50px 80px;
}
@media (max-width: 1280px) {
  .footer .footer__wrapper {
    width: 90vw;
  }
}
.footer .footer__wrapper .footer__email h2 {
  margin: 0;
  color: #ffffff;
  font-size: 32px;
  line-height: 38px;
}
.footer .footer__wrapper .footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}
.footer .footer__wrapper .footer__bottom .footer__info p {
  color: #cccccc;
}
.footer .footer__wrapper .footer__bottom .footer__year p {
  color: #cccccc;
  font-size: 24px;
}

body,
html {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

#app {
  max-width: 1440px;
  height: 100vh;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}/*# sourceMappingURL=style.css.map */