@import "normalize.css";
.header {
  max-width: 1280px;
  width: 100%;
  height: 80px;
  padding: 16px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
}
.header .header__wrapper {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
}
.header .header__wrapper div {
  height: 100%;
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .header__wrapper div:hover {
  border-bottom: solid 3px #fca311;
}
.header .header__wrapper .header__brand {
  width: 130px;
}
.header .header__button button {
  width: 180px;
  height: 38px;
  padding: 8px 43.5px;
  background-color: #fca311;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  border: none;
}

.welcome-screen {
  width: 1440px;
  height: 700px;
  background: linear-gradient(103.2deg, #14213d 0%, #28427b 111.47%);
  display: flex;
  flex-direction: row;
  border: none;
}

.welcome-screen__left-box {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
}
.welcome-screen__left-box .welcome-screen__info {
  flex-direction: column;
  align-items: center;
  width: 456px;
  height: 234px;
  margin-left: 150px;
}
.welcome-screen__left-box .welcome-screen__title h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
}
.welcome-screen__left-box .welcome-screen__subtitle h3 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}

.welcome-screen__picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  background-image: url(../images/welcome-screen.png);
}

.welcome-screen__buttons {
  margin-top: 48px;
}
.welcome-screen__buttons .welcome-screen__write-us {
  width: 220px;
  height: 48px;
  background-color: #fca311;
  color: #ffffff;
  font-size: 16px;
  border: none;
}
.welcome-screen__buttons .welcome-screen__working {
  background: none;
  width: 220px;
  height: 48px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  text-align: center;
}

.about-us {
  width: 1440px;
  height: 877px;
  border: none;
}

content {
  width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  color: #14213d;
}
content .about-us__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 96px 0 16px 0;
}
content .about-us__header .about-us__text {
  width: 848px;
  height: 240px;
}
content .about-us__header .about-us__text h2 {
  font-size: 32px;
  font-weight: 600;
}
content .about-us__header .about-us__text p {
  font-size: 16px;
  font-weight: 400;
}
content .about-us__header .about-us__logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 416px;
  height: 240px;
  margin-left: 16px;
  background-color: #14213d;
}
content .about-us__middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
content .about-us__middle div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 412px;
  height: 240px;
}
content .about-us__middle .about-us__stat {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}
content .about-us__middle .about-us__stat h2 {
  margin: 32px 16px 12px 32px;
}
content .about-us__middle .about-us__stat p {
  margin: 0 16px 0 32px;
}
content .about-us__middle .about-us__icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
content .about-us__middle .about-us__first-box {
  border: #f2f2f2 2px solid;
}
content .about-us__middle .about-us__second-box {
  border: #f2f2f2 2px solid;
  margin: 0 16px;
}
content .about-us__middle .about-us__third-box {
  border: #f2f2f2 2px solid;
}
content .about-us__subtitle {
  width: 100%;
  margin: 32px 0 18px;
}
content .about-us__subtitle p {
  margin: 0;
}
content .about-us__hr {
  width: 100%;
}
content .about-us__hr hr {
  border: 2px #f2f2f2 solid;
}
content .about-us__partners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 116px;
  font-size: 20px;
  font-weight: 400;
}
content .about-us__partners div {
  margin: 0 26px;
}

.how-we-work {
  width: 1440px;
  height: 900px;
  background-color: #14213d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}
.how-we-work .how-we-work__left-wrapper {
  width: 600px;
  border: #ffffff 1px solid;
  height: 773px;
}
.how-we-work .how-we-work__left-wrapper .how-we-work__left-content {
  border: #ffffff 1px solid;
}
.how-we-work .how-we-work__left-wrapper .how-we-work__left-content .how-we-work__title h1 {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
}
.how-we-work .how-we-work__left-wrapper .how-we-work__left-content .how-we-work__title p {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.how-we-work .how-we-work__left-wrapper .how-we-work__right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.how-we-work .how-we-work__left-wrapper .how-we-work__right-content .how-we-work__text {
  width: 552px;
  border: #ffffff 1px solid;
  margin: 24px;
}
.how-we-work .how-we-work__left-wrapper .how-we-work__right-content .how-we-work__text span {
  color: #fca311;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.how-we-work .how-we-work__left-wrapper .how-we-work__right-content .how-we-work__text h1 {
  font-size: 40px;
  color: #ffffff;
}
.how-we-work .how-we-work__left-wrapper .how-we-work__right-content .how-we-work__text p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
}
.how-we-work .how-we-work__left-wrapper .how-we-work__right-content img {
  width: 405px;
  height: 402px;
  border: #ffffff 1px solid;
}

.services {
  width: 1440px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title {
  width: 1232px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 120px;
  margin-bottom: 48px;
}
.services__title h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

.services__content {
  display: grid;
  grid-template-columns: 632px 632px;
  grid-column-gap: 16px;
  grid-template-rows: 300px 300px;
  grid-row-gap: 32px;
  justify-content: center;
}

.services__content_block {
  display: flex;
  flex-direction: row;
}
.services__content_block .services__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 408px;
}
.services__content_block .services__description .services__wrapper {
  width: 344px;
  margin-top: 32px;
}
.services__content_block .services__description .services__wrapper h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
}
.services__content_block .services__description .services__wrapper p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.services__content_block .services__description .services__button button {
  width: 344px;
  height: 38px;
  margin-bottom: 32px;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  color: #14213d;
  font-size: 14px;
  font-weight: 600;
}
.services__content_block .services__img {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 224px;
}
.services__content_block .services__img img {
  width: 208px;
  height: 300px;
}

.first_content_block {
  background-color: #14213d;
  color: #ffffff;
}
.first_content_block button {
  background-color: #fca311 !important;
  color: #ffffff !important;
  border: none !important;
}

.selected-cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: -moz-fit-content;
  height: fit-content;
}

.selected-cases__title {
  width: 1232px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 120px;
  margin-bottom: 48px;
}
.selected-cases__title h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

.selected-cases__content {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: auto;
}
.selected-cases__content .selected-cases__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  margin: 24px;
}
.selected-cases__content .selected-cases__wrapper .selected-cases__text h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: #ffffff;
  margin: 0;
}
.selected-cases__content .selected-cases__wrapper .selected-cases__text p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-top: 16px;
  line-height: 24px;
}
.selected-cases__content .selected-cases__wrapper .selected-cases__logo {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.selected-cases__content .selected-cases__top_content {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left {
  width: 632px;
  height: 600px;
  background-image: url(../images/am-img.png);
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block .selected-cases__wrapper {
  height: 100%;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block .selected-cases__wrapper p {
  width: 524px;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 632px;
  height: 600px;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block {
  display: flex;
  flex-direction: row;
  height: 292px;
  background-color: #f2f2f2;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block .selected-cases__rzd-img {
  width: 530px;
  background-image: url(../images/rzd-img.png);
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block .selected-cases__wrapper h2 {
  color: #14213d;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block .selected-cases__wrapper p {
  color: #14213d;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__declarant_block {
  width: 100%;
  background-color: beige;
  height: 292px;
  background-image: url(../images/declarant-img.png);
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__declarant_block .selected-cases__wrapper {
  height: 87%;
}
.selected-cases__content .selected-cases__bottom_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__ice-palace {
  width: 416px;
  height: 424px;
  background-image: url(../images/ice-palace-img.png);
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__cryptonator {
  width: 416px;
  height: 424px;
  background-image: url(../images/cryptonator-img.png);
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__add {
  width: 416px;
  height: 424px;
  background-color: #14213d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__add .selected-cases__add-wrapper {
  width: 272px;
  height: 124px;
  text-align: center;
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__add .selected-cases__add-wrapper h3 {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.discuss {
  width: 1440px;
  height: -moz-fit-content;
  height: fit-content;
}
.discuss .discuss__wrapper {
  width: 1280px;
  height: 668px;
  margin: 96px auto;
  display: flex;
  flex-direction: row;
}
.discuss .discuss__wrapper .discuss__left-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.discuss .discuss__wrapper .discuss__left-box .discuss__text {
  width: 524px;
}
.discuss .discuss__wrapper .discuss__left-box .discuss__text h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  margin-top: 0;
}
.discuss .discuss__wrapper .discuss__left-box .discuss__text h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.discuss .discuss__wrapper .discuss__left-box .discuss__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.discuss .discuss__wrapper .discuss__right-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content {
  width: 584px;
  height: 560px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_title h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  color: #3e3e3e;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_input {
  margin-top: 3px;
  width: 284px;
  height: 48px;
  border-radius: 0px;
  border: 1px #b3b3b3 solid;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top input {
  width: 260px;
  height: 24px;
  border-radius: 0px;
  border: none;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_left {
  width: 284px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_right {
  width: 284px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle {
  margin-top: 16px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #14213d;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle .discuss__form_input {
  width: 100%;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle input {
  width: 560px;
  height: 50%;
  border-radius: 0px;
  border: none;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom {
  margin-top: 16px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #14213d;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom .discuss__form_input {
  width: 100%;
  height: 174px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom textarea {
  width: 560px;
  height: 150px;
  border: none;
  resize: none;
  color: #b3b3b3;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 38px;
  margin-top: 16px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_add p {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_add img {
  width: 20px;
  height: 20px;
  margin-top: 0;
  filter: invert(100%);
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_button {
  width: 100%;
  margin-top: 20px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_button button {
  width: 100%;
  height: 48px;
  background-color: #fca311;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__policy {
  width: 584px;
  height: 36px;
  margin-top: 24px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__policy p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 0;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__policy p a {
  color: #fca311;
  text-decoration: none;
}

.footer {
  width: 1440px;
  height: 235px;
  background-color: #14213d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__wrapper {
  width: 1280px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 50px 80px;
}
.footer .footer__wrapper .footer__email h2 {
  margin: 0;
  color: #ffffff;
  font-size: 32px;
  line-height: 38px;
}
.footer .footer__wrapper .footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}
.footer .footer__wrapper .footer__bottom .footer__info p {
  color: #cccccc;
}
.footer .footer__wrapper .footer__bottom .footer__year p {
  color: #cccccc;
  font-size: 24px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
}

#app {
  max-width: 1440px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}/*# sourceMappingURL=style.css.map */